/*loader*/

#loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transition: opacity .5s ease, visibility .5s ease;
}

.spinner {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid white;
    border-radius: 30px;
    box-shadow: 0 0 8px #ffffff, 0 0 8px #ffffff inset;
    animation: AN 2s ease-in-out infinite forwards running;
}

@keyframes AN{
    from{rotate:0deg;}
    to{rotate:360deg;}
}

#loader.hidden {
  opacity: 0;
  visibility: hidden;   
}

/*body*/

body{
    margin: 0;
    font-family: 'YourFont', serif;
    text-shadow: 0 0 20px black, 0 0 20px black;
}

/*Section 1 -- INTRODUCTION*/

.Sec1{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(180deg, #0000008a, #00000088 ,#000000), url("images/Img.png") center / cover no-repeat;
    z-index: 2;
}

.box{
    position: absolute;
    height: 30vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background: linear-gradient(135deg, rgba(15, 15, 15, 0.705), rgba(0, 0, 0, 0.705));
    border: 6px solid rgb(0, 0, 0);
    border-radius: 20px;
    box-shadow:  0 0 8px #000000, 0 0 8px #000000 inset;
}

.box2{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 71%;
    height: 100px;
    width: 30vw;
    border: 6px solid rgb(0, 0, 0);
    border-radius: 20px;
    box-shadow: 0 0 8px #000000, 0 0 8px #000000 inset;
    background: rgba(0, 0, 0, 0);
}
.Button{
    height: 70px;
    width: 70px;
    background: linear-gradient(rgb(30, 30, 30), rgb(0,0,0));
    border: 2px solid rgb(80, 80, 80);
    border-radius: 20px;
    box-shadow:  0 0 5px rgb(63, 63, 63), 0 0 5px rgb(63, 63, 63);
    z-index: 3;
    transition: all 1s ease-in-out;
}

.Button:hover{
    transform: scale(1.2);  
}

.Sec1 h1{
    color: white;
    font-size: 7vmin;
    margin: 0px;
}

.Sec1 p{
    color: white;
    font-size: 3vmin;
    margin: 0px;
}