/*loader*/

#loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10   ;
  transition: opacity .5s ease, visibility .5s ease;
}

.spinner {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid white;
    box-shadow: 0 0 8px #ffffff, 0 0 8px #ffffff inset;
    animation: spin 2s ease-in-out infinite;
}

@keyframes spin {

    0%{
        rotate: 0deg;
    }

    100%{
        rotate: 360deg; 
    }
}

#loader.hidden {
  opacity: 0;
  visibility: hidden;   
}

/*body*/

body{
    margin: 0;
    font-family: 'YourFont', sans-serif;
}
/*Top section -- CONFIG */

.MInfo{
    position: fixed;
    top: 1%;
    left: 15%;
    height: 50px;
    width: 50px;
    background: linear-gradient(260deg, rgba(0, 0, 0, 0.541), rgb(0, 0, 0));
    border: 2px solid rgba(255, 255, 255, 0.397);
    border-radius: 15px;
    box-shadow:  0 20px 40px rgba(0, 0, 0, 0.315);
    z-index: 1;
    transition: scale 3s ease-in-out;
    pointer-events: none;
}
.Tbox.visible{
    pointer-events: auto;
    transform: scale(15%);
}

/*Section 1 -- INTRODUCTION*/

.Sec1{
    position: relative;
    min-height: 100vh;
    background: linear-gradient(180deg, #0000008c, #fffafa15 ,#000000), url("images/Img.png") center / cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    height: 30vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, rgba(18, 18, 24, 0.705), rgba(44, 49, 60, 0.705));
    border: 6px solid rgb(19, 19, 19);
    border-radius: 20px;
    box-shadow:  0 20px 40px rgba(0, 0, 0, 0.315);
    transition: transform .3s ease;
}

.box:hover {
  transform: scale(1.02);
}

.Sec1 h1{
    color: white;
    font-size: 7vmin;
    margin: 0px;
}

.Sec1 p{
    color: white;
    font-size: 3vmin;
    margin: 0px;
}

/*Section 2 -- INFO*/
.Sec2 {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(190deg ,#000000, #181818);
}

.Sec2 h1{
    text-align: center;
    color: white;
    font-size: 5rem;
    margin-bottom: -5px;
    animation: scrollanim linear;
    animation-timeline: view();
    animation-range: entry 0% cover 25%;
}
.Sec2 p{
    text-align: center;
    color: white;
    margin-top: 0px;
    font-size: 1.5rem;
    animation: scrollanim linear;
    animation-timeline: view();
    animation-range: entry 0% cover 25%;
}

@keyframes scrollanim{
    from{
        opacity: 0%;
        scale: 0.5;
    }
    to{
        opacity: 100%;
        scale: 1;
    }
}