/*loader*/

#loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity .5s ease, visibility .5s ease;
}

.spinner {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid white;
    border-radius: 3px;
    box-shadow: 0 0 8px #ffffff, 0 0 8px #ffffff inset;
    animation: spin 2s ease-in-out infinite ;
}

@keyframes spin {

    0%{
        rotate: 0deg;
    }

    100%{
        rotate: 360deg;
    }
}

#loader.hidden {
  opacity: 0;
  visibility: hidden;   
}

/*body*/

body{
    margin: 0;
    background: linear-gradient(230deg,rgba(18, 18, 24, 0.849), rgb(44, 49, 60));
  font-family: 'YourFont', sans-serif;
}

/*Section 1 -- INTRODUCTION*/

.TitleCard{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    height: 30vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, rgb(18, 18, 24), rgb(44, 49, 60));
    border: 6px solid rgb(19, 19, 19);
    border-radius: 20px;
    box-shadow:  0 20px 40px rgba(0, 0, 0, 0.315);
    transition: transform 0.3s ease;
}

.box:hover {
  transform: scale(1.02);
}

.TitleCard h1{
    color: white;
    font-size: 7vmin;
    margin: 0px;
}

.TitleCard p{
    color: white;
    font-size: 3vmin;
    margin: 0px;
}

/*Section 2 -- INFO*/

.Info h1{
    text-align: center;
    color: white;
    font-size: 5rem;
    margin-bottom: -5px;
}
.Info p{
    text-align: center;
    color: white;
    margin-top: 0px;
    font-size: 1.5rem;
}